    <footer>
      <br>
      <br>
      <span><p>&copy; 2015 Nicolas James Hampton, All Rights Reserved</p></span>
      <br>
      <br>
    </footer>



    <script src="static/js/jquery-2.1.4.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!--<script src="static/js/app.js"></script>-->

  </body>
</html>
