<!DOCTYPE html>
<html>
    <head>
      <title>Nicolas James Hampton | Staggarlee Development</title>

      <!-- mobile adaptable viewport sensor -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- bootstrap css: do not directly modify -->
      <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
      <link href="static/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

      <!-- custome css modifications -->
      <link href="static/css/my-styles.css" rel="stylesheet" media="screen">

      <!--bootstrap glyph icons -->
      <link href="static/fonts/glyphicons-halflings-regular.svg" rel="stylesheet" media="screen">
      <link href="static/fonts/glyphicons-halflings-regular.eot" rel="stylesheet" media="screen">
      <link href="static/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet" media="screen">
      <link href="static/fonts/glyphicons-halflings-regular.woff" rel="stylesheet" media="screen">

      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="../../assets/js/html5shiv.js"></script>
        <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>
