<div class="modal fade" id="textModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!--Title and closing button-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title">What are you looking for?</h4>
      </div><!--end Title and closing button-->

      <div class="modal-body">
        <form class="form">

          <!--Name, company, email, and phone fields-->
          <div class="form-group">
            <label class="formLabel" for="name">Name:</label>
            <input type="text" class="form-control" id="formName" placeholder="Name">
            <label class="formLabel" for="organization">Organization/Company:</label>
            <input type="text" class="form-control" id="formOrg" placeholder="Organization">
            <label class="formLabel" for="email">Email:</label>
            <input type="email" class="form-control" id="formEmail" placeholder="Email">
            <label class="formLabel" for="phone">Phone:(Optional)</label>
            <input type="tel" class="form-control" id="formPhone" placeholder="Phone number">
          </div><!-- end Name, company, email, and phone fields-->

          <!--project dropdown-->
          <div class="form-group">
            <label class="formLabel" for="project">Project:</label>
            <select class="form-control">
              <option>Personal site</option>
              <option>Writer's blog</option>
              <option>Artist Portfolio</option>
              <option>Non-profit website</option>
              <option>Business site</option>
              <option>Web hosted app/service</option>
              <option>Employer looking to hire</option>
            </select>
          </div><!-- end project dropdown -->

          <!--timeframe dropdown-->
          <div class="form-group">
            <label class="formLabel" for="time-frame">What's your project's timetable:</label>
            <select class="form-control">
              <option>I need it yesterday!</option>
              <option>I have a week.</option>
              <option>Two weeks is reasonable</option>
              <option>End of the month</option>
              <option>Large project for the quarter</option>
              <option>Loking to hire long-term employee</option>
            </select>
          </div><!-- end timeframe dropdown-->

          <!-- textarea for details -->
          <div class="form-group">
            <label class="formLabel" for="details">So, tell me more about it...</label>
            <textarea type="text" class="form-control" id="formDetails"></textarea>
          </div><!-- end textarea for details -->

          <!-- submit button -->
          <button type="submit" class="btn btn-primary" data-dismiss="modal">Let's talk about it!</button>

        </form><!-- end form class -->
      </div><!--end modal-body-->
    </div><!--end modal-content-->
  </div><!--end modal-dialog-->
</div><!--end modal-fade-->
