<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!-- mobile menu collapse button -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span><img style="width:30px" class="img-responsive" src="static/img/hat.svg"></span>
      </button>

      <a class="navbar-brand" href="#">
        <!-- small/large nav title for mobile/desktop displays, css switches display at 450px -->
        <p class="navTitleSm">Nicolas Hampton<br>Staggarlee Development</p>
        <p class="navTitleLg">Nicolas Hampton | Staggarlee Development</p>
        <p class="navTitleLogo">Nicolas Hampton &nbsp;<img style="width:30px;display:inline" class="img-responsive" src="static/img/hat.svg">&nbsp; Staggarlee Development</p>
      </a>

    </div><!-- end mobile menu collapse button -->

    <!--collapsable menu for mobile and desktop-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- menu options -->
      <ul class="nav navbar-nav navbar-right">

        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>

        <li><a href="#">News &amp; Events</a></li>

        <li><a href="#">Contact</a></li>

        <!--portfolio dropdown menu-->
        <li class="dropdown"><a data-toggle="dropdown" data-target="#">Portfolio<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">About Nicolas</a></li>
            <li class="divider"></li>
            <li><a href="#">Development Projects</a></li>
            <li class="divider"></li>
            <li><a href="#">Publications</a></li>
          </ul>
        </li><!--end portfolio dropdown menu-->

      </ul><!--end menu options-->

    </div><!--collapsable menu for mobile and desktop-->
  </div><!--end centering container-->
</nav><!--end navigation-->

<!--end header navigation-->
