extends ./layout.jade
block content 
  .container.about
    .row.row1
      .col-sm-9
        h2.aboutPageHeader 
          strong #{about.header.headerText}
        .col-sm-5.col-lg-push-2.center
          img.aboutPageImg.img-responsive(src='static/' + about.header.img)
        .col-sm-2.col-lg-pull-5
        .col-sm-5
          p.contactParagraph
            strong !{about.header.paragraph}
      .col-sm-3
        h2 Skilled in:
        .row
          - var index = 0
          while index < about.skills.length
            .col-xs-12
              span
                p.skills #{about.skills[index]}
              - index++ 
    hr       
    .row  
      .col-sm-12
        h2 Philosophy
        p #{about.philosophy.paragraph}
    hr
    .row.center
      .col-sm-12.center
        h2(style="padding-bottom: 30px") Contact Information
    .row.center
      .col-xs-1.center
        img.img-responsive(src='static/img/hat.svg')
      each method in about.contact
        include ../partials/about/_contactMethods.jade
      .col-xs-1.center
        img.img-responsive(src='static/img/hat.svg')
    hr
    
